{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    <main>
        <div class="card white mt-3">
            <h1>Register</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        <div>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <button class="btn">
                <i class="bi bi-person-plus"></i>
                {{ button_label|default('Submit') }}
            </button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
