{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block main %}
    <main class="login">
        <div class="card white mt-3">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h1>Recover Password</h1>
            <p><em>Don’t worry, happens to the best of us !</em></p>

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
            </div>
            <a class="reset-password mt-2" href="{{ path('app_login') }}">
                &#8592;
                Sign In
            </a>
            <button type="submit">
                <i class="bi bi-envelope me-1"></i>
                Email me a recovery link
            </button>
            {{ form_end(requestForm) }}
        </div>
    </main>
{% endblock %}
