{{ form_start(form) }}
<div>
    <div>
        {{ form_errors(form.name) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
</div>
<div>
    <div>
        {{ form_errors(form.description) }}
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.tripGroup) }}
        {{ form_widget(form.tripGroup) }}

        {% if trick.name and trick.id %}
        <label class="mt-2">Image</label>
        {% for i, media in form.children.trickMedia %}
            <div class="card">
                <span class="card-title d-flex justify-content-end">
                             <a href="#" onclick="return confirm('do you really want to remove this ?');">
                             <i class="bi bi-x-circle"></i>
                    </a>
                </span>
                <div class="form-bnt">
                    <span>Is an image?</span>
                    <div class="btn-toggle">
                        <div class="round {{ media.vars.value.isImage ? 'active' : '' }}">
                            {% if media.vars.value.isImage %}
                                <input type="checkbox" name="trick[trickMedia][{{ i }}][isImage]" checked>
                            {% else %}
                                <input type="checkbox" name="trick[trickMedia][{{ i }}][isImage]">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="textarea {{ media.vars.value.isImage ? '' : 'is-active' }}">
                    <label for="embed">Video</label>
                    <textarea id="embed" class="white" name="trick[trickMedia][{{ i }}][embed]" placeholder='Ex: <iframe width="560" height="315" src="https://www.youtube.com/embed/monyw0mnLZg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'>
                        {{media.vars.value.embed}}
                    </textarea>
                </div>
                <div class="url {{ media.vars.value.isImage ? 'is-active' : '' }}">
                    <label for="url">Image Url</label>
                    <input type="url" id="url" class="white" name="trick[trickMedia][{{ i }}][url]" placeholder="Ex: https://img.redbull.com/images" value="{{media.vars.value.url}}">
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        <div>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
</div>
<div>
    {{ form_widget(form._token) }}
{#    <div>
        {{ form_label(form.trickMedia) }}
        {{ form_widget(form.trickMedia) }}
    </div>#}
    <button type="button" class="add-media small" id="add-media">
        <i class="bi bi-plus"></i>
        Add media
    </button>
</div>

    <button class="btn save">
        <i class="bi bi-plus"></i>
        {{ button_label|default('Add a trick') }}
    </button>
    {#
    form end par default affiche en dessous la fin du formulaire
        render_rest:
    #}

    {{ form_end(form, {'render_rest': false}) }}
