{{ form_start(form) }}
<div>
    <div>
        {{ form_errors(form.name) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
</div>
<div>
    <div>
        {{ form_errors(form.description) }}
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
</div>
<div>
    <div>
        {{ form_label(form.tripGroup) }}
        {{ form_widget(form.tripGroup) }}
</div>
<div>
    {{ form_widget(form._token) }}
    <div>
        {{ form_label(form.trickMedia) }}
        {{ form_widget(form.trickMedia) }}
    </div>
    <button type="button" class="add-media small" id="add-media">
        <i class="bi bi-plus"></i>
        Add media
    </button>
</div>

    <button class="btn save">
        <i class="bi bi-plus"></i>
        {{ button_label|default('Add a trick') }}
    </button>
    {#
    form end par default affiche en dessous la fin du formulaire
        render_rest:
    #}

    {{ form_end(form, {'render_rest': false}) }}
