{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block main %}
    <main class="trick-list">
        <div class="title-container mb-3">
            <div>
            </div>
            {% if app.user %}
            <a href="{{ path('_trick.edit', {'slug': 'new' }) }}">
                <button class="green small">
                    <i class="bi bi-plus"></i>
                    Add new
                </button>
            </a>
            {% endif %}
        </div>
        <div>
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} mb-2">
                        <div>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% if tricks|length > 0 %}
            <section class="container">
                <div class="row" id="groups">
                    {% for trick in tricks %}
                        <div class="trick-container col-md-3">
                            <div class="trick-item big-height">
                                {% set continue = true %}
                                {% for trickMedia in trick.trickMedia %}
                                    {% if trickMedia.isImage and continue %}
                                        <div class="top" style="background-image: url({{ trickMedia.url }})"></div>
                                        {% set continue = false %}
                                    {% endif %}
                                {% endfor %}
                                <div class="bottom">
                                    <h2>{{ trick.name }}</h2>
                                    {% if app.user %}
                                        <div class="edit-block">
                                            <a href="{{ path('_trick.edit', {'slug': trick.slug}) }}">
                                                <button class="small green me-1">
                                                    <i class="bi bi-pen"></i>
                                                </button>
                                            </a>
                                            <form method="post" action="{{ path('_trick_delete', {'id': trick.id}) }}"
                                                  onsubmit="return confirm('Do you really remove this?');"
                                            >
                                                <button class="small red me-1">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                            <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                                                <button class="small">
                                                    <i class="bi bi-arrow-right"></i>
                                                </button>
                                            </a>
                                        </div>
                                        {% else %}
                                            <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                                                <button>
                                                    Details
                                                    <i class="bi bi-arrow-right ms-2"></i>
                                                </button>
                                            </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}
